*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
:root {
    --primary: #06A3DA;
    --secondary: #F57E57;
    --light: #EEF9FF;
    --dark: #091E3E;
    --dark2: #0E4156;
}
.payment-body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.payment-container{
    border: 1px solid #ECECEC;
    max-width: 800px;
    margin: 20px;
    border-radius: 10px;
    overflow-y:scroll ;
}
.payment-container::-webkit-scrollbar{
    display: none;
}
.payment-details{
    background: #ffff;
    width: 100%;
    max-height:100vh;
    overflow-x:scroll ;
}
.payment-details::-webkit-scrollbar{
    display: none;
}
.title{
  margin-top: 10px;
  margin-left: 10px;
}
.title h2{
   font-size: 20px;
   color: var(--dark2);
   font-weight: 600;
}
.payment-methods{
    margin: 30px 0 0 30px;
    display: flex; 
    gap: 30px;
}
.payment-methods button{
    display: flex;
    align-items: center;
    gap: 10px;
    padding:2px 10px 2px 10px;
    background: none;
    outline: none;
    border: 1px solid var(--primary);
    border-radius: 10px;
    justify-content: center;
}
.payment-methods button img{
    width: 33px;
    height: 33px;
}
.payment-methods button p{
    font-size: 20px;
    color: var(--dark2);
    font-weight: 600;
}
.user-details{
    margin: 30px 30px 0 30px;
}
.user-details form{
    width: 100%;
}
.user-details-body .input{
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}
.user-details-body .input input{
    height: 40px;
    border-radius: 10px;
    background: #F0EEEE;
    outline: none;
    border: 1px solid #219EBC;
    padding-left: 10px;
}
.user-details-body .input span{
    margin-bottom: 10px;
    color: #717070;;
    font-weight: 600;
    font-size: 20px;
}
.vcc{
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 60px;
}
.vcc-details{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.vcc-details span{
    margin-bottom: 10px;
    color: #717070;;
    font-weight: 600;
    font-size: 20px;
}
.vcc-details input{
    height: 40px;
    border-radius: 10px;
    background: #F0EEEE;
    outline: none;
    border: 1px solid #219EBC;
    padding-left: 10px;
}
.confirm{
    margin-top: 45px;
    display: flex;
    gap: 15px;
}
.confirm input{
    width: 25px;
    height: 25px;
    outline: none;
}
.confirm p{
    font-weight: 600;
    width: 100%;
    font-size: 20px;
    color: var(--dark2);
}
.submit{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    gap:25px;
}
.submit button{
    width: 100%;
    padding: 10px 0 10px 0;
    cursor: pointer;
    outline: none;
    border: none;
    background: #219EBC;
    font-size: 20px;
    color: #ffff;
    border-radius: 25px;
    font-weight: 700;
}
.submit button:hover{
    background: #fff;
    border: 1px solid #219EBC;
    color: #219EBC;
}
.input span .mark{
    color: red;
}
span .mark{
    color: red;
}

@media screen and (max-width:600px) {
    .payment-methods button{
        gap: 5px;
    }
    .payment-methods button img{
        width: 15px;
        height: 15px;
    }
    .payment-methods button p{
        font-size: 16px;
    }
    .confirm p{
        font-size: 16px;
    }
    .user-details-body .input span{
        font-size: 16px;
    }
    .submit button{
        font-size: 16px;
    }
    .confirm input{
        width: 20px;
        height: 20px;
    }
    .vcc-details span{
        font-size:16px;
    }
}
@media screen and (max-width:420px) {
    .payment-methods button{
        gap: 5px;
        padding:3px 10px 3px 10px;
    }
    .payment-methods button img{
        width: 15px;
        height: 15px;
    }
    .payment-methods button p{
        font-size: 13px;
    }
    .payment-methods{
        gap: 10px;
    }
    .vcc{
        gap:10px;
        flex-direction: column;
    }
    .payment-container{
        margin: 20px;
    }

    .submit button{
        padding: 10px 0 10px 0;
        font-size: 16px;
        color: #ffff;
        border-radius: 15px;
    }
}

@media screen and (max-width:360px){
    .payment-methods{
        flex-wrap: wrap;
    }
}


/*                  add author form                   */

.author-container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.author-body{
    border: 1px solid #ECECEC;
    width:600px;
    margin: 20px;
    border-radius: 10px;
    overflow-y:scroll ;
}
.author-body::-webkit-scrollbar{
    display: none;
}
.author-details{
    width: 100%;
    max-height: 100vh;
    background: #ffff;
}
.author-title{
    margin-top: 10px;
    margin-left: 10px;
}
.author-title h2{
     font-size: 20px;
     color: var(--dark2);
     font-weight: 600;
}
.author-form{
    margin: 30px 30px 50px 30px;
}
.author-form form{
    width: 100%;
}
.author-inputs .author-input{
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}
.author-inputs .author-input input{
    height: 40px;
    border-radius: 10px;
    background: #F0EEEE;
    outline: none;
    border: 1px solid #219EBC;
    padding-left: 10px;
}
.author-inputs .author-input span{
    margin-bottom: 10px;
    color: #717070;;
    font-weight: 600;
    font-size: 20px;
}
.author-input span .mark{
    color: red;
}
.line{
    width: 100%;
    background: #219EBC;
    margin: 10px 0 10px 0;
    height: 2.5px;
}
.author-submit{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.author-submit button{
    font-size: 20px;
    text-transform: capitalize;
    color:  #219EBC;
    background: none;
    border: 1px solid #219EBC;
    border-radius: 25px;
    padding: 5px 20px;
    cursor: pointer;
    font-weight: 700;
}
.author-submit button:hover{
    background: #219EBC;
    color: #ffff;
}
@media screen and (max-width:600px) {
    .author-title h2 {
        font-size: 16px;
    }
    .author-inputs .author-input span {
        font-size: 16px;
    }
    .author-inputs .author-input input {
        height: 40px;
    }
    .author-submit button{
        font-size: 16px;
        padding: 3px 15px;
    }
}

/***         payment summary  ***/

.p-summary-container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.p-summary-body{
    border: 1px solid #ECECEC;
    width: 650px;
    margin: 20px;
    border-radius: 10px;
}
.p-sum{
    background: #ffff;
    width: 100%;
    max-height:100vh;
    margin-bottom: 35px;
}
.p-title{
    margin-top: 10px;
    margin-left: 10px;
}
.p-title h2{
    font-size: 20px;
    color: var(--dark2);
    font-weight: 600;
}
.p-details{
    margin: 30px 30px 0 30px;
    background: #ECECEC;
    padding: 35px 35px 10px 35px;
    border-radius: 10px;
}
.p-top{
    display: flex;
    justify-content: space-between;
    color: #464646;
}
.p-top p , h3{
    font-weight: 400;
    font-size: 20px;
}
.p-details .line{
    width: 100%;
    background: #717070;
    margin: 20px 0 20px 0;
    height: 2px;
}
.p-btm{
    display: flex;
    justify-content: space-between;
    color: #000000;
}
.p-btm p , h3{
    font-weight: 600;
    font-size: 20px;
}
.transaction{
    margin-top: 50px;
    width: 100%;
}
.transaction button{
    width: 100%;
    padding: 10px 0 10px 0;
    cursor: pointer;
    outline: none;
    border: none;
    background: #219EBC;
    font-size: 20px;
    color: #ffff;
    border-radius: 25px;
    font-weight: 700;
}

.transaction button:hover{
    background: #fff;
    border: 1px solid #219EBC;
    color: #219EBC;
}
@media screen and (max-width:600px){
    .p-summary-body{
        margin: 10px;
    }
    .p-title h2{
        font-size: 16px;
    }
    .p-top p , h3{
        font-size: 16px;
    }
    .p-btm p , h3{
        font-size: 16px;
    }
    .transaction button{
        font-size: 16px;
    }
}
@media screen and (max-width:476px){
    .p-top p{
       width: 50%;
    }
}