
.hero-slider{
    width: 100%;
    background: radial-gradient(84.19% 471.43% at 15.81% 45.43%, #219EBC 11.77%, rgba(200, 211, 132, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #D9D9D9;
    height:400px;
}
.first-section{
     width: 100%;
    margin-top: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.f-section-body{
   align-items: center;
   justify-content: center;
   display: flex;
    max-width: 1200px;
   
} 
.f-card{
    margin: 0 17px 0 17px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}
.f-card .d-card{
    width: 100%/3;
    height: auto;
    text-align: center;
     box-shadow: 1px 1px 3px rgba(126, 124, 124, 0.12),1px 1px 2px rgba(143, 143, 143, 0.345) ;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
}
.d-card img{
    width: 75px;
    background: var(--dark);
    padding: 10px;
    border-radius: 15px;
}
.d-card h2{
    font-size: 16px;
    color: var(--dark2);
    margin-top: 10px;
}
.d-card p{
    font-size: 16px;
    color: grey;
    margin-top: 10px;
}




.service-section{
    width: 100%;
    margin-top:100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.service-body{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
} 
.service-body h1{
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    color: var(--primary);
}
.service-top{
    margin: 75px 17px 0 17px;
    gap: 50px;
    display: grid;
   grid-template-columns: 1fr 1fr;
    /* border: 1px solid red; */
}
.service-card{
    width: 100%/2;
    /* border: 1px solid rgb(106, 255, 126); */
    height: auto;
    text-align: center;
    padding: 20px;
    position: relative;
    background: var(--dark);
    box-shadow: 1px 1px 3px rgba(126, 124, 124, 0.12),1px 1px 2px rgba(0,0,0,0.5) ;
    border-radius: 15px;
}

.icon-body{
    position: absolute;
    top:-5%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 75px;
    border-radius: 50%;
    height: 75px;
    background: var(--dark);
    box-shadow: 1px 1px 3px rgba(126, 124, 124, 0.12),1px 1px 2px rgba(0,0,0,0.24) ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.service-card i{
    font-size: 35px;
    border-radius: 25px;
    color: #a1d9ff;
    cursor: pointer;
}
.service-card i:hover{
    rotate: 25deg;
}
.service-card h2{
    font-size: 16px;
    color: rgb(203, 203, 203);
    margin-top: 10px;
}
.service-card p{
    font-size: 16px;
    color: #ffff;
    margin-top: 10px;
}
.service-btm{
    margin: 75px 17px 0 17px;
    gap: 50px;
    display: grid;
   grid-template-columns: 1fr 1fr 1fr;
}



/******************articles***********************/
.section-article{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:100px;
}
.article-body{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
     max-width: 1200px;
   
} 
.article-body h1{
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    color: var(--primary);
}
.article-cards{
    margin: 50px 17px 0 17px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:50px;
}
.article-card{
    box-shadow: 1px 1px 3px rgba(126, 124, 124, 0.12),1px 1px 2px rgba(0,0,0,0.24) ;
    height: auto;
    padding:0px;
    display: flex;
    flex-direction: column;
    /* border-radius: 10px; */
}
.article-card .arti{
    width: 100%;
    height:175px;
    /* border-radius:10px; */
    overflow: hidden;
}
.article-card .arti img{
    width: 100%;
    height:100%;
    object-fit: cover;
    /* border-radius:10px; */
}
.article-card .arti img:hover{
    scale: 1.2;
    transition: 0.3s ease-in-out;
}
.article-card{
    margin-top: 10px;
    padding: 0 0px 0px 0px;
    margin-bottom: 0px;
    position: relative;
}
.article-card .description{
    margin: 10px 5px 10px 5px;
}
.article-card  .description p{
    font-size: 16px;
    color: var(--dark2);
    margin-bottom: 10px;
}
.read-more {
   padding-bottom: 10px;
}
.article-card .read-more , .read-more2{
    margin-top: auto;
    align-self: flex-start;
    cursor: pointer;
    margin-bottom: 10px;
}
.article-card .read-more a, .read-more2 a{
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px 5px 10px;
    background: var(--primary);
    border-radius: 15px;
    text-transform: capitalize;
}
.article-card .read-more , .read-more2 i{
    margin-left: 10px;

}
.read-more2{
    display: none;
}
/* .article-card .read-more:hover i{
  visibility: visible;
} */
/******************member*************************/

.member-wrapper{
    margin-top: 100px;
    width: 100%;
    background: rgb(250, 250, 250);
   /* background: linear-gradient(269.77deg, #F1C6C6 0.19%, rgba(217, 217, 217, 0) 99.8%);*/
}
.member-section{
    max-width:1200px;
    margin: 0 auto;
}
.member-body{
    width: 100%;
    height: 375px;
    display: flex;
    align-items: center;
    margin:0px 17px 0 0px;
    
}
.mem-left{
    width: 50%;
    text-align: center;
}
.mem{
    align-self: flex-start;
    margin: 33px 0 0 17px;
}
.mem h2{
    width: 100%;
    font-size: 50px;
    color: var(--dark2);
    margin-top: 10px;
}
.mem p{
    font-weight: 400;
    font-size: 16px;
    color: var(--dark);
    margin-top: 10px;
}
.mem button{
    margin-top: 28px;
    padding: 10px 20px 10px 20px;
    outline: none;
    border: none;
    background: var(--dark);
    color: #ffff;
    border-radius: 10px;
    cursor: pointer;
}
.mem button:hover{
    background: rgb(231, 231, 231);
    color: var(--dark);
}
.mem-right{
    width:50%;
    height: 100%;
    position: relative;
   /* border: 1px solid rgb(255, 60, 60); */
    overflow: hidden;
}
.mem-right .img{
    width:500px;
    height: 100%;
    float: right;
}
.mem-right .img img{
    width: 100%;
    height: 100%;
}


/***********featured author****************/

.section-author{
    width: 100%;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
 .author-body{
    max-width: 1200px;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
} 
.author-body h1{
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    color: var(--primary);
}
.authors-details{
    gap:50px;
    display: flex;
    margin: 50px 17px 0 17px;
}
.author-card{
    width: 100%/3;
    box-shadow: 1px 1px 3px rgba(126, 124, 124, 0.12),1px 1px 2px rgba(0,0,0,0.24) ;
    height: auto;
    padding:10px;
    cursor: pointer;
    border-radius: 10px;
}
.author-card .author-top{
    display: flex;
    align-items: center;
    gap: 20px;
}
.author-card .author-top h2{
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    color: var(--dark2);
}
.author-mid{
    margin-top: 25px;
}
.author-mid p{
    color: var(--dark2);
}
.author-btm{
    margin-top: 25px;
    width: 100%;
    padding: 10px;
    text-align: center;
    background: var(--dark2);
    cursor: pointer;
    border-radius: 10px;
}
.author-btm:hover{
    background: var(--dark);
    cursor: pointer;
    border-radius: 10px;
}
.author-btm a{
    color: #ffff;
    text-decoration: none;
}



/*****************brcome autor**************************/

.author-wrapper{
    overflow: hidden;
    width: 100%;
    margin-top: 100px;
    background: rgb(250, 250, 250);
    /*background: linear-gradient(269.77deg, #F1C6C6 0.19%, rgba(217, 217, 217, 0) 99.8%);*/
}
 .author-section{
    max-width:1200px;
    margin: 0 auto;
} 
.author-join-body{
    height: 375px;
    display: flex;
    align-items: center;
    margin:0px 17px 0 0px;
}
.author-left{
    width: 50%;
    height: 100%;
}
.author-left .img{
    width:100%;
    height: 100%;
    overflow: hidden;
    display: flex;
}
.author-left .img img{
    width: 90%;
    object-fit: contain;
    align-self: flex-end;
}
.author-right{
    width: 50%;
    height: 100%;
    /* border: 1px solid red; */
}
.author-right-body{
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border: 1px solid red; */
}
.author-right-body h2{
    width: 100%;
    font-size: 50px;
    color: var(--dark2);
    margin-top: 10px;
}
.author-right-body p{
    font-weight: 400;
    font-size: 16px;
    color: var(--dark);
    margin-top: 10px;
}
.author-right-body button{
    margin-top: 28px;
    padding: 10px 20px 10px 20px;
    outline: none;
    border: none;
    background: var(--dark);
    color: #ffff;
    border-radius: 10px;
    cursor: pointer;
}
.author-right-body button:hover{
    background: rgb(231, 231, 231);
    color: var(--dark);
}

/* .foot-section{
    width:916px;
    margin: 0 auto;
} */


@media screen and (max-width:980px) {
    .f-card{
        gap: 35px;
    }
    .d-card img{
        width: 50px;
        background: var(--dark);
        padding: 10px;
        border-radius: 10px;
    }
    .d-card p{
        font-size: 15px;
        color: grey;
        margin-top: 10px;
    }
    .f-card .d-card{
        padding: 10px 5px;
        border-radius: 15px;
    }
    .service-top{
        margin:100px 17px 0 17px;
        gap: 35px;
        /* border: 1px solid red; */
    }
    .service-btm{
        margin: 100px 17px 0 17px;
        gap: 35px;
    }
    .author-left .img img{
        width: 100%;
    }
} 

@media screen and (max-width:850px) {
    .article-card p{
        font-size: 15px;
    }
    .article-cards{
        gap:35px;
    }
    .article-card .arti{
        width:100%;
    }
    .authors-details{
        gap:35px;
    }
    .author-left .img img{
        width: 100%;
    }
} 


@media screen and (max-width:760px) {
    .f-card{
        gap:25px;
    }
    .service-top{
        margin:25px 17px 0 17px;
        gap: 25px;
        /* border: 1px solid red; */
    }
    .service-btm{
        margin: 25px 17px 0 17px;
        gap: 25px;
    }



    .article-card p{
        font-size: 15px;
    }
    .article-cards{
        gap:25px;
        display: grid;
        grid-template-columns: 1fr ;
        gap:50px;
    }
    .article-card{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }
    .arti-text{
        width: 75%;
    }
    .read-more{
        display: none;
    }
 
    .service-top{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .service-btm{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
     .service-card{
        width:100%;
        margin-top: 50px;
    }


    .authors-details{
        gap:25px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* border: 1px solid rebeccapurple;  */
    }
    .author-card{
        width: 100%;
    }
    .author-card .author-top{
       flex-direction: column;
       gap:5px;
    }
    .author-left{
        /* border: 1px solid red; */
        position: relative;
    }
    .author-left .img{
        width:100%;
        height: 300px;
        /* border: 1px solid red; */
        position: absolute;
        bottom: 0;
    }
    .author-left .img img{
       width: 100%;
       height: 100%;
       object-fit: cover;
    }
    .author-right-body{
        height: 100%;
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .author-right-body h2{
        font-size: 25px;
    }
    .author-right{
        width: 50%;
       text-align: center;

    }
    .author-left{
        width: 50%;
       text-align: center;
    }
    .author-right-body{
        float: none;
    }
    



    .member-body{
         height: 300px;
    }
    .mem-left{
        width: 100%;
        text-align: center;
    }
    .mem-right{
        /* border: 1px solid rebeccapurple; */
        width: 100%;
        text-align: center;
    }
    .mem-right .img{
        width:100%;
        height: 300px;
    }
    .mem-right .img img{
        width: 100%;
       height: 100%;
       object-fit: cover;
    }
    .mem{
        height: 100%;
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .mem h2{
        font-size: 25px;
    }

    .description{
        position: relative;
    }
    .read-more2{
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
    }
} 

@media screen and (max-width:600px) {
    .author-card{
        width: 100%;
    }
    .service-card{
        width: 100%;
    }
    .article-card{
        width:100%;
      
    }
    .f-card{
        grid-template-columns: 1fr ;
    }
    .service-card i{
        font-size: 25px;
    }

    .article-cards{
        gap:25px;
    }
   
    .article-card{
        display: grid;
        grid-template-columns: none;
        gap: 25px;
        margin: 0 0 0 0;
    }
    .read-more2{
        display: none;
    }
    .read-more{
        display: flex;
    }
    .author-wrapper,.member-wrapper{
        height:50vh;
    }


    .author-join-body {
        display: flex;
        flex-direction: column;
        height:50vh;
    }
    .member-body{
        display: flex;
        flex-direction: column-reverse;
        height:50vh;
    }
    .mem{
        margin-top: 0;
    }
    .author-left,.mem-right{
        position: relative;
        width: 100%;
        height: 50%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .author-left .img{
        width:300px;
        height: auto;
       
    }
    .author-left img{
      width: 100%;
    }
    .mem-left{
        width: 100%;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .author-right{
        width: 100%;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .author-join-body{
        margin: 0;
    }
}
@media screen and (max-width:500px){
    .mem h2{
        font-size: 20px;
    }
    .author-btm{
        padding: 7px;
    }
}
@media screen and (max-width:400px){
    .author-left .img{
        width:200px;
        height: auto;
       
    }
}
@media screen and (max-width:350px){
    .submit-hero-right-img  img{
        width:200px;
    }
}