*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
:root {
    --primary: #06A3DA;
    --secondary: #F57E57;
    --light: #EEF9FF;
    --dark: #091E3E;
    --dark2: #0E4156;
}

body{
    background: #F0EEEE;
}
.submit-hero{
    background: radial-gradient(84.19% 471.43% at 15.81% 45.43%, #219EBC 11.77%, rgba(200, 211, 132, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #D9D9D9;
    width: 100%;
    margin-bottom: 0px;
    position: relative;
}
.submit-hero-body{
    margin-right: 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 361px;
    max-width: 1200px;
    margin: 0 auto;
    /* border: 1px solid red; */
}
.submit-hero-left {
    width: 50%;
    height: 100%;
    position: relative;
}
.submit-hero-left .top{
   position: absolute;
   top:22px;
   left: 50px;
}
.submit-hero-left .top p{
    font-size: 14px;
    cursor: pointer;
    color: #ffff;
}
.submit-hero-left .btm{
    position: absolute;
    bottom:30px;
    left: 30px;
}
.submit-hero-left .btm h2{
    font-size: 32px;
    font-weight: 700;
    color: #ffff;

}
.submit-hero-left .btm button{
    padding: 6px 34px 5px 38px;
    border: 1px solid #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 15px;
    cursor: pointer;
    color: #ffff;
    background: none;
    outline: none;
}
.submit-hero-left .btm button:hover{
    color: var(--primary);
    background: #ffff;
}
.submit-hero-right{
    display: flex;
    margin-top: 20px;
}
.submit-hero .polisies{
    position:absolute;
    right: 25px;
    top:25px;
    margin-bottom: 20px;
}
.polisies span{
    padding: 8px 30px;
    background: var(--dark);
    color:#ffff;
    border-radius:15px;
    cursor:pointer;
}

.form{
    display: flex;
    max-width: 1200px;
    /* border: 1px solid red; */
    margin: 0 auto;
}
.form-body{
    background: #FEFEFE;
    margin-top: 25px;
    margin-bottom: 25px;
    /* margin: 0 18px 0 30px; */
    width: 100%;
    /* border: 1px solid red; */
}
.form-body form{
    margin:50px 80px 0px 44px;
    padding-top: 50px;
    /* border: 1px solid rgb(0, 132, 255); */
}
.form-body form h3{
    font-size: 17px;
    font-weight: 400;
    color: var(--dark2);
    text-transform: capitalize;
    margin-bottom: 10px;
}
.form-body .area{
    display: flex;
    flex-direction: column;
}

.form-body .area input{
    height: 38px;
    background: #F0F0F0;
    outline: none;
    border: none;
    padding-left: 5px;
}
.topic{
    margin-top: 36px;
}

/**********************/
.authors{
    margin-top: 36px;
    display: flex;
}
.auth-auth {
   width: 100px;
}
.auth-add-body{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* border: 1px solid rgb(0, 255, 98); */
}
.auth {
    margin-left: 37px;
    display: flex;
    /* flex-direction: column; */
    gap: 50px;
    width: 100%;
    margin-bottom: 10px;
    /* border: 1px solid red; */
}

.auth .names{
    display: flex;
    flex-direction: column;
    width: 25%;
    /* border: 1px solid rgb(64, 0, 255); */
}
.auth .names input{
    align-self: flex-start;
    height: 38px;
    background: #F0F0F0;
    outline: none;
    border: none;
    padding-left: 5px;
    width: 100%;
    margin-left: 0px;
  
}
.auth .institues{
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-left: 0px;
}
.auth .institues input{
    align-self: flex-start;
    height: 38px;
    background: #F0F0F0;
    outline: none;
    border: none;
    padding-left: 5px;
    width: 100%;
    margin-left:0px;

}


.delete{
    width: 25px;
    height: 25px;
    background: #06A3DA;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;
}
.delete .btn_icon{
    position: absolute;
    color:#fff;
   background: none;
   outline: none;
   border: none;
   font-size: 25px;
   text-align: center;
   bottom: 0;
   font-weight: 700;
    cursor: pointer;
}


.add-input{
    font-size: 17px;
    font-weight: 400;
    color: var(--dark2);
    text-transform: capitalize;
    margin-bottom: 10px;
}
.add-input span i{
    background: #091E3E;
    color:#fff ;
    padding: 7px 7px;
    cursor: pointer;
    border-radius: 5px;
}
.add-input{
    display: flex;
    gap: 10px;
}
.auth-selection{
   
}/*
.main {
    display: flex;
    width:50px;
    background: #d6d6d6;
    height: 38px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid red;
 }*/
.main input[type="radio"] {
   width: 18px;
   height: 18px;
   cursor: pointer;
 } 

    
 
 
 
 .category{
   display: flex;
    margin-top: 25px;
    gap:50px;
 }
 .category select{
     -webkit-border:none;
     cursor: pointer;
     padding: 5px 20px;
     text-align: left;
 }
 .category select option{
     font-size: 18px;
     padding: 10px;
 }
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
/**********************************/

.req{
    color: red;
}
/************tags*****************/
.add-tags {
   margin-top: 50px; 
   flex-direction: column;
}
.add-tags .tags-body{
    display: flex;
}
.add-tags .tags-body .tag{
    width:80%;
}
.tag-input{
    width:200px;
    height: 38px;
    margin-left: 35px;
    display: flex;

}
.tag-input input{
    align-self: flex-start;
    height: 38px;
    background: #F0F0F0;
    outline: none;
    border: none;
    padding-left: 5px;
    width: 100%;
}
.right{
    width: 20%;
    height: 100%;
    /* border: 1px solid rgb(168, 168, 168); */
    position: relative;
}
.right i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
    cursor: pointer;
    color: var(--dark);
}
.tag-container{
    width: 80%;
    height:auto;
    margin-top: 25px;
}
.tags-area{
    width: 80%;
    height:auto;
    /* border: 1px solid rgb(224, 224, 224); */
}
.tag-area-body{
    margin: 10px 10px 10px 10px;
    display:flex;
    flex-wrap: wrap;
    gap: 20px;
}
.tags-area button{
    border: none;
    outline: none;
    background: none;
}
.single-tag span{
    background: var(--dark2);
    color: #fff;
    padding: 5px 10px ;
    border-radius: 5px;
}
.single-tag span i{
    margin-left: 10px;
    color: #fff;
    cursor: pointer;
}
/*************rags***********/




.upload-photo{
    display: flex;
    margin-top: 50px;
}
.upload-photo .photo{
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin-left: 23px;
}
.upload-photo .photo input[type=file]{
   font-size: 50px;
   position: absolute;
   left: 0;
   top: 0;
   opacity: 0;
    width: 355px;
    height: 152px;
}
.custom{
    width: 355px;
    height: 152px;
    background: #F0F0F0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-transform: uppercase;
}

.custom  .plus{
    color: var(--primary);
    font-weight: 400;
    font-size: 96px;
}
.custom .up{
    color: var(--primary);
     font-size: 17px;
    font-weight: 400;
    margin-bottom: 23px;
}
.description{
    display: flex;
    margin-top: 50px;
}
.description-body{
    width: 100%;
    margin-left: 0px;
}
.description h3{
    width: 100px;
}
.description-body textarea{
    width: 100%;
    height: 212px;
    outline: none;
    border: none;
    background: #F0F0F0;
    padding: 5px 5px 5px 5px;
    font-size: 16px;
}
.document{
    margin-top: 36px;
    display: flex;
}
.document .document-upload{
    margin-left: 10px;
    position: relative;
}

.document-upload input[type=file]{
    font-size: 50px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 300px;
    height: 50px;
 }
 .doc-custom{
    width: 300px;
    height: 50px;
    background: #F0F0F0;
     display: flex;
     align-items: center;
     justify-content: center;
     text-transform: uppercase;
 }

 .doc-custom .plus{
    font-size: 32px;
    color: var(--primary);
 }
 .doc-custom .up{
    font-size: 17px;
    color: var(--primary);
 }
 .form-btm{
    margin-top: 56px;
    margin-left: 130px;
    display: flex;
    flex-direction: column;
 }
 .agree{
    display: flex; 
    gap: 8px;
 }
 .agree input{
    width: 18px;
    height: 19px;
    border: 2px solid #DDDDDD;
    outline: none;
 }
 .agree p{
    /* font-family: 'Inter'; */
    font-weight: 400;
    font-size: 15px;
    color: #9B9999;
    font-style: normal;
 }
 .pay{
    margin-top: 11px;
    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #9B9999;
 }
 .form-submit{
    width: 100%;
    margin-top: 15px;
    margin-bottom: 27px;
    display: flex;
    justify-content: space-between;
 }
 .form-submit button{
   
    padding: 8px 84px 8px 84px;
    border: 1px solid #219EBC;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 15px;
    outline: none;
    font-weight: 700;
    font-size: 18px;
    color: #219EBC;
    cursor: pointer;
 }
 .form-submit button:hover{
    color: #ffff;
    background: #219EBC;
}

@media screen  and (max-width:1000px) {
    .form-submit button{
        padding: 8px 35px 8px 35px;
        font-size: 16px;
     }
     .form-body form{
        margin:50px 40px 0px 44px;
        /* border: 1px solid rgb(0, 132, 255); */
    }
    .form-body form h3{
        font-size: 16px;
        font-weight: 400;
        color: var(--dark2);
    }
    .form-btm{
        margin-top: 56px;
        margin-left: 0px;
        display: flex;
        flex-direction: column;
     }
     .description-body textarea{
        font-size: 15px;
    }
}
@media screen  and (max-width:760px) {
    .submit-hero-body{
        flex-direction: column;
    }
    .submit-hero-left {
        width:100%;
        text-align: center;
    }
    .submit-hero-left .btm{
        position: relative;
        bottom:0px;
        left: 0px;
        top: 50px;
    }
    .submit-hero-right-img img{
        width:400px;
    }
    .form-body form{
        margin:50px 40px 0px 44px;
        /* border: 1px solid rgb(0, 132, 255); */
    }
    .authors{
        flex-direction: column;
        margin-right:40px;
    }
    .auth {
        margin-top: 10px;
        margin-left: 0;
        gap: 25px;
    }
    .auth .names{
        width: 35%;
    }
    .auth .institues{
        width: 35%;
    }
    .add-input h3{
        display: none;
    }

    .upload-photo{
        flex-direction: column;
    }
    .photo{
        margin-top: 10px;
        margin-left: 0;
    }
    .description{
        flex-direction: column;
    }
    .description-body{
        margin-top: 10px;
    }
    .document{
        flex-direction: column;
    }
    .document .document-upload{
        margin-top: 10px;
        margin-left: 0;
    }
    .submit-hero-left .top{
        position: absolute;
        top:22px;
        left: 25px;
     }
}

@media screen  and (max-width:600px){
    .submit-hero-right-img img{
        width:300px;
    }
    .submit-hero-left .btm h2{
        font-size: 22px;
        margin-top: 35px;
    }
    .submit-hero-left .top p{
        font-size: 13px;
    }
    .form-body{
        margin: 0 10px 0 10px;
       
        /* border: 1px solid red; */
    }
    .form-body form{
        margin:20px 20px 0px 20px;
        padding-top: 20px;
        /* border: 1px solid rgb(0, 132, 255); */
    }
    .form-body .area input{
        margin-top: 10px;
        height: 35px;
    }
    .topic{
        margin-top: 25px;
    }
    .authors{
        margin-top:25px;
        width: 100%;
        /* border: 1px solid red; */
        position: relative;
        display: flex;
        flex-direction: column;
    }
  
    .add-input{
        position: absolute;
        top: 0;
        left: 30%;
    }
    .add-input i{
        font-size:12px;
    }
 
    .auth .names{
        width: 35%;
    }
    .auth .institues{
        width: 35%;
    }
    .auth .names input{
        height: 35px;
    }
    .auth .institues input{
        height: 35px;
        margin-left: 0px;
        /* border: 1px solid red; */
    }
    .auth-selection{
        text-align: left;
    }
    .tags-body{
        display: flex;
        flex-direction: column;
    }
    .tag-input{
        margin-left: 0;
    }
    .tags-area{
        width: 150%;
        height:auto;
        /* border: 1px solid rgb(199, 28, 28); */
    }


    .upload-photo{
        margin-top: 25px;
    }
    .upload-photo .photo{
        margin-left: 0;
    }
    .upload-photo .photo input[type=file]{
        font-size: 25px;
         width: 300px;
         height: 100px;
     }
     .custom{
        width: 300px;
        height: 100px;
     }
     .custom  .plus{
        font-size: 50px;
    }
    .custom .up{
         font-size: 15px;
    }
    .description{
        margin-top: 25px;
    }
    .document{
        margin-top:25px;
    }
    .document .document-upload{
        margin-left: 0px;
    }
    .document-upload input[type=file]{
        font-size: 35px;
        width:200px;
        height: 40px;
     }
     .doc-custom{
        width: 200px;
        height: 40px;
     }
     .doc-custom .plus{
        font-size: 25px;
        color: var(--primary);
     }

     .form-submit button{
        padding: 5px 25px 5px 25px;
        font-size: 14px;
     }
     .form-body form {
        margin: 20px 10px 0px 10px;
     }
     
     
     
     
 .category{
    gap:25px;
 }
 .category select{
     padding: 5px 20px;
 }
 .category select option{
     font-size: 16px;
 }
 
 

}

/* @media screen  and (max-width:440px){
    .auth .names input{
        width: 110px;
    }
    .auth .institues input{
        width: 110px;
    }
} */



